@model BankReportingTool.Models.ReportsList

@{
    ViewBag.Title = "Home Page";
}

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Saved Searches</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">search 1</li>
                    <li class="list-group-item">search 2</li>
                    <li class="list-group-item">search 3</li>
                    <li class="list-group-item">etc.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card my-3">
            <div class="card-header">Reports DropDown</div>
            <div class="m-2">
                @Html.EnumDropDownListFor(m => m.Report, "Select Report", new { id = "ReportDropDown", @class = "form-control", @onchange = "func()" })
            </div>
        </div>
    </div>
    <div id="display_filters" class="col-md-6">
        @Html.Partial("_Filters")
    </div>
</div>

@* Script function for generating current Filters based on user input. 
    This function is called when the DropDownList for 
    ReportSelection is changed by the user.*@
@section Scripts
{
    <script>
        function func() {
                $(document).ready(function () {
                    $.ajax({
                        url: '/Home/GetFilters',
                        type: 'POST',
                        async: false,
                        data: { reportId: $("#ReportDropDown").val() },
                        success: function (result) {
                            $("#display_filters").html(result);
                        }
                    });
                });
        }
    </script>
}