
@{
    ViewBag.Title = "Results";
}

    <div class="result">
        <h2>Results</h2>
    </div>

<!-- TODO: Hook into actual data for chart-->
<div class="chart container body-content">
    <img src="@Url.Action("DrawChart")" />
</div>

<!-- TODO: Hook in actual data -->
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Account ID</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Online Transaction</th>
            <th>Payment Type</th>
            <th>Date</th>
            <th>Store</th>
            <th>Location</th>
            <th>Type</th>
            <th>Ammount</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
                <td>Example data</td>
            </tr>
        }
    </tbody>
</table>

<!-- TODO: Implement download feature -->
<button class="btn btn-primary">Download</button>

<!-- TODO: Implement print feature -->
<button class="btn btn-primary">Print</button>

