
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<!-- TODO: Hook into actual data for chart-->
<div class="container body-content">
    <img src="@Url.Action("DrawChart")" />
</div>

<!-- TODO: Hook in actual data -->
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th> ... </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Example data</td>
            <td>Example data</td>
            <td>Example data</td>
        </tr>
    </tbody>
</table>

<!-- TODO: Implement download feature -->
<button class="btn btn-primary">Download</button>

<!-- TODO: Implement print feature -->
<button class="btn btn-primary">Print</button>

