@if (ViewBag.SelectedReport != 0)
{
    <div class="card my-3">
        <div class="card-header">Filters</div>
        <div class="card-body">
            Please select a report to view filters.
        </div>
    </div>
}
